<h1><%= @task.title %></h1>
<div class="show-container">
  <p><%= @task.details %></p>
  <% if @task.completed? %>
    <i class="fas fa-check-square"> Mark as done</i>
  <% else %>
    <i class="fas fa-square"> Mark as done</i>
  <% end %>
</div>
<div class="show-footer">
  <%= link_to (edit_task_path) do%>
    <i class="fas fa-edit"> Edit</i>
  <% end %>
  <%= link_to (tasks_path) do %>
    <i class="fas fa-undo-alt"> Back to tasks</i>
  <% end %>
</div>
