ul > li {
  list-style: none;
  color: beige;
  display: flex;
  font-size: 20px;
  margin-right: 16px;
}

.small-container {
  height: auto;
  width: 100%;
}

.small-container i {
  color: #7393B3;
}
